<!--
<!--  <li>-->
<!--    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs">-->
<!--      <i class="fa fa-fw" aria-hidden="true"></i> Custom Social Profile Link-->
<!--    </a>-->
<!--  </li>-->
<!---->

  <li>
    <a href=http://www.google.com/recaptcha/mailhide/d?k=01dGg7HwOukWWBN31zCHT80A==&amp;c=twqy44_FSk1IYKExc8YmBCS8V1DpyXatk3JKAhb0bow=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01dGg7HwOukWWBN31zCHT80A\x3d\x3d\x26c\x3dtwqy44_FSk1IYKExc8YmBCS8V1DpyXatk3JKAhb0bow\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=400'); return false;" title="Click to reveal email" itemprop="sameAs">
      <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;Email
    </a>
  </li>

  <li>
    <a href="https://medium.com/@clumsycontraria" itemprop="sameAs">
      <i class="fa fa-medium" aria-hidden="true"></i> &nbsp;Medium
    </a>
  </li>