<!--
<!--  <li>-->
<!--    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs">-->
<!--      <i class="fa fa-fw" aria-hidden="true"></i> Custom Social Profile Link-->
<!--    </a>-->
<!--  </li>-->
<!---->

  <li>
    <a href="https://mailhide.io/e/8Nq5a" title="Click to see my email via Mailhide.io" itemprop="sameAs">
      <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;Email
    </a>
  </li>

  <li>
    <a href="https://medium.com/@clumsycontraria" itemprop="sameAs">
      <i class="fa fa-medium" aria-hidden="true"></i> &nbsp;Medium
    </a>
  </li>